* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  letter-spacing: 0.4px;
  margin: 0;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  header {
    padding-bottom: 15px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  color: #333645;
}

h3 {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}

h4 {
  padding-left: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

footer {
  box-sizing: border-box;
  color: #fff;
  background-color: #323544;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  font-size: 14px;
}
footer li {
  margin: auto auto auto -40px;
}

input {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

#newsletter-name, #newsletter-email {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 47px;
  font-size: 14px;
  padding: 0 15px;
  border: solid #e5e5e5 1px;
  margin-top: 5px;
}
#newsletter-name:focus, #newsletter-email:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#search-bar-input {
  padding-right: 40px;
}

#search-bar-input-med {
  padding-right: 40px;
}

#search-med-submit {
  padding: 3px 18px 0;
  border-radius: 0 3px 3px 0;
  border: solid #a3a8ac 1px;
  background-color: #a3a8ac;
  color: #fff;
  cursor: pointer;
}
#search-med-submit:hover {
  background-color: #7E808A;
}
@media screen and (min-width: 992px) {
  #search-med-submit {
    height: 55px;
    border-radius: 3px;
  }
}
@media screen and (min-width: 1260px) {
  #search-med-submit {
    border-radius: 0 3px 3px 0;
  }
}

.cookieconsent-btn {
  position: fixed;
  font-size: 0.8rem;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  background: #75788a;
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  border-radius: 0 10px 0 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 2px;
}

.chat-bubble {
  position: fixed;
  cursor: pointer;
  color: #fff;
  bottom: 20px;
  right: 10px;
  z-index: 2;
  height: 60px;
  width: 60px;
  background-color: #333645;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-bubble > i {
  margin-top: 15px;
  margin-left: 14px;
}

.primary-container {
  padding-left: 20px;
  padding-right: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 560px) {
  .main-header {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    margin-left: auto;
  }
}

.phone-container {
  margin-left: auto;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .phone-container {
    display: none;
  }
}

.header-btn-icon {
  margin-right: 8px;
}

.support-button {
  margin-left: auto;
  margin-right: 15px;
}
@media screen and (max-width: 991px) {
  .support-button {
    display: none;
  }
}

.contact-button {
  margin-right: 20px;
}
@media screen and (max-width: 991px) {
  .contact-button {
    display: none;
  }
}

.fa-phone {
  color: #333645;
}
.fa-phone:hover {
  color: #22242E;
}

.burger-container {
  display: flex;
  height: 55px;
  min-width: 60px;
  border-radius: 3px;
  background-color: #333645;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 20px;
}
.burger-container:hover {
  background-color: #22242E;
}

.burger-box {
  display: flex;
  flex-direction: column;
}

.burger-mid {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
}

.netmatters-logo {
  width: 100%;
  max-width: 370px;
}

.header-search {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header-search {
    display: none;
  }
}

.header-search::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background: url("../img/search.png") no-repeat center;
  background-size: 23px auto;
  height: 30px;
  width: 30px;
}

.search-bar {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 47px;
  font-size: 14px;
  padding: 0 15px;
  border: solid rgba(0, 0, 0, 0.1) 2px;
  background-color: #E5E5E5;
}

.header-search-med {
  display: flex;
  padding-left: 45px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-search-med {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .header-search-med {
    margin-left: 0;
    padding: 0;
  }
}

.search-bar-med {
  display: inline;
  font-family: inherit;
  width: 174px;
  height: 55px;
  font-size: 14px;
  padding: 0 15px;
  margin-left: auto;
  border: solid #ccc 1px;
  border-radius: 0 0 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.search-bar-med:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}
@media screen and (min-width: 992px) {
  .search-bar-med {
    display: none;
    width: 0;
  }
}
@media screen and (min-width: 1260px) {
  .search-bar-med {
    display: inline;
    width: 220px;
  }
}

.main-nav {
  color: #fff;
  background-color: #333645;
  padding: 7px 7px 5px;
}
@media screen and (max-width: 991px) {
  .main-nav {
    display: none;
  }
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-block {
  cursor: pointer;
  padding: 12px 25px 10px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-block:hover i {
  color: #fff;
}
@media screen and (min-width: 1260px) {
  .nav-block {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.nav-icn {
  display: block;
  padding-bottom: 5px;
}

.nav-small {
  font-size: 0.65rem;
  display: block;
  height: 11px;
}

.home-img-container {
  display: flex;
  height: 550px;
  overflow-x: hidden;
  background: url("../img/home.jpg") center/cover no-repeat #818181;
  background-blend-mode: multiply;
}

.title {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  top: 33%;
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .title {
    text-align: left;
    font-size: 4rem;
    line-height: 5rem;
    top: 33%;
    margin-right: 40px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    margin-left: 40px;
    width: 800px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    width: 1000px;
  }
}

.title > p {
  font-size: 1.3rem;
  margin-top: 20px;
  line-height: 1.8rem;
}

.accent-text {
  font-weight: 600;
}

.mid-container {
  display: flex;
  align-items: center;
  padding: 50px 15px 0;
}
.mid-container > h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}
.mid-container > a {
  color: #333645;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .mid-container > a {
    display: none;
  }
}

.service-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .service-block {
    flex-direction: row;
    justify-content: center;
  }
}

.view-our-work a, .view-all-news a {
  color: #333645;
}
@media screen and (min-width: 767px) {
  .view-our-work, .view-all-news {
    display: none;
  }
}

.software-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.software-ref:hover {
  text-decoration: none;
}
.software-ref:hover {
  background-color: #67809F;
}
.software-ref:hover .block-title, .software-ref:hover .desc {
  color: #fff;
}
.software-ref:hover .icon, .software-ref:hover .read-more {
  background-color: #fff;
  color: #67809F;
}

.support-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.support-ref:hover {
  text-decoration: none;
}
.support-ref:hover {
  background-color: #4183D7;
}
.support-ref:hover .block-title, .support-ref:hover .desc {
  color: #fff;
}
.support-ref:hover .icon, .support-ref:hover .read-more {
  background-color: #fff;
  color: #4183D7;
}
@media screen and (min-width: 1024px) {
  .support-ref {
    margin: 0 15px;
  }
}

.marketing-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.marketing-ref:hover {
  text-decoration: none;
}
.marketing-ref:hover {
  background-color: #2ECC71;
}
.marketing-ref:hover .block-title, .marketing-ref:hover .desc {
  color: #fff;
}
.marketing-ref:hover .icon, .marketing-ref:hover .read-more {
  background-color: #fff;
  color: #2ECC71;
}

.telecoms-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.telecoms-ref:hover {
  text-decoration: none;
}
.telecoms-ref:hover {
  background-color: #D64541;
}
.telecoms-ref:hover .block-title, .telecoms-ref:hover .desc {
  color: #fff;
}
.telecoms-ref:hover .icon, .telecoms-ref:hover .read-more {
  background-color: #fff;
  color: #D64541;
}

.webdesign-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.webdesign-ref:hover {
  text-decoration: none;
}
.webdesign-ref:hover {
  background-color: #926FB1;
}
.webdesign-ref:hover .block-title, .webdesign-ref:hover .desc {
  color: #fff;
}
.webdesign-ref:hover .icon, .webdesign-ref:hover .read-more {
  background-color: #fff;
  color: #926FB1;
}

.security-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.security-ref:hover {
  text-decoration: none;
}
.security-ref:hover {
  background-color: #F62459;
}
.security-ref:hover .block-title, .security-ref:hover .desc {
  color: #fff;
}
.security-ref:hover .icon, .security-ref:hover .read-more {
  background-color: #fff;
  color: #F62459;
}

.training-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.training-ref:hover {
  text-decoration: none;
}
.training-ref:hover {
  background-color: #CE4125;
}
.training-ref:hover .block-title, .training-ref:hover .desc {
  color: #fff;
}
.training-ref:hover .icon, .training-ref:hover .read-more {
  background-color: #fff;
  color: #CE4125;
}

.block {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  max-width: 730px;
  margin-top: 30px;
  border: solid #ccc 1px;
  border-radius: 15px;
  padding: 30px;
  top: 0;
  transition: 0.5s ease;
}
.block:hover {
  top: -10px;
  transition: 0.5s ease;
}
.block-title {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333645;
}
@media screen and (min-width: 1024px) {
  .block {
    max-width: 300px;
  }
}

.service-block-med {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .service-block-med {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 75px;
  }
}
@media screen and (min-width: 768px) {
  .block-med {
    width: 50%;
    max-width: 340px;
  }
}
@media screen and (min-width: 1024px) {
  .block-med {
    width: 50%;
    max-width: 460px;
  }
}

.desc {
  position: relative;
  font-size: 0.85rem;
  font-weight: 400;
  color: #333645;
  margin-bottom: 15px;
  margin-top: 10px;
}

.rm-soft {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #67809F;
}

.rm-supp {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #4183D7;
}

.rm-mrkt {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #2ECC71;
}

.rm-tele {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #D64541;
}

.rm-dsgn {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #926FB1;
}

.rm-secure {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #F62459;
}

.rm-train {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #CE4125;
}

.soft-icn {
  background-color: #67809F;
}

.supp-icn {
  background-color: #4183D7;
}

.mrkt-icn {
  background-color: #2ECC71;
}

.tele-icn {
  background-color: #D64541;
}

.dsgn-icn {
  background-color: #926FB1;
}

.secure-icn {
  background-color: #F62459;
}

.train-icn {
  background-color: #CE4125;
}

.big-icn {
  display: block;
  color: #fff;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.big-icn > .fa-solid {
  margin-top: 17px;
}

.partners-banner, .clients-banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.partners-img-container, .clients-img-container {
  display: flex;
  max-height: 80px;
  margin-left: 15px;
  align-items: center;
  overflow-x: hidden;
}

.client-box {
  display: flex;
  vertical-align: middle;
  position: relative;
}

.description-hide {
  display: none;
}

.grayscale {
  max-height: 70px;
  margin-right: 50px;
  filter: grayscale(100);
}
.grayscale:hover {
  filter: none;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #333645;
}
@media screen and (min-width: 1024px) {
  .welcome-container {
    flex-direction: row;
  }
}

.welcome, .clients-container {
  margin-bottom: 30px;
}
.welcome > *, .clients-container > * {
  color: #fff;
}
.welcome > h2, .clients-container > h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.welcome > p, .clients-container > p {
  line-height: 1.8rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .welcome, .clients-container {
    width: 550px;
  }
}

.star-container {
  margin-bottom: 30px;
}

.fa-star {
  color: orange;
  font-size: 50px;
}

.quote-container {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 25px;
}

.author {
  font-size: 1.1rem;
  font-weight: 600;
  color: #a3a8ac;
}

.author-container {
  margin-bottom: 25px;
}

.review-buttons {
  padding-top: 15px;
}

.news-container {
  display: flex;
  align-items: center;
  padding: 50px 15px 20px;
}
.news-container > h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.news-container > a {
  color: #333645;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .news-container > a {
    display: none;
  }
}

.news-panel {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .news-panel {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .news1, .news2 {
    max-width: 350px;
    margin: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .news1, .news2 {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .news3 {
    display: none;
  }
}

.tooltip-btn-a {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 10px;
  right: 0;
  background-color: #4183D7;
  text-transform: uppercase;
  padding: 0 10px;
  line-height: 1.5rem;
  z-index: 1;
}

.tooltip-btn-b {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  top: 10px;
  right: 0;
  background-color: #D64541;
  text-transform: uppercase;
  padding: 0 10px;
  line-height: 1.5rem;
  z-index: 1;
}

.news-text-a {
  font-size: 1rem;
  border: solid #ccc 1px;
  margin: -10px 0 30px 0;
  padding: 30px 30px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.news-text-a p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: #666;
  margin-bottom: 25px;
}
.news-text-a a {
  font-weight: bold;
  color: #4183D7;
}
.news-text-a a:hover {
  text-decoration: none;
}

.news-text-b {
  font-size: 1rem;
  border: solid #ccc 1px;
  margin: -10px 0 30px 0;
  padding: 30px 30px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.news-text-b p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: #666;
  margin-bottom: 25px;
}
.news-text-b a {
  font-weight: bold;
  color: #D64541;
}
.news-text-b a:hover {
  text-decoration: none;
}

.read-time {
  font-size: 0.8rem;
  color: #a3a8ac;
  text-transform: uppercase;
}

.news-block {
  position: relative;
  cursor: pointer;
  top: 0;
  transition: 0.5s ease;
}
.news-block:hover {
  top: -10px;
  transition: 0.5s ease;
}

.op {
  display: flex;
  color: #75788a;
  font-size: 0.9rem;
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid #ccc 1px;
}
.op-info {
  margin: auto 0;
  padding-left: 20px;
}
.op-info > strong {
  color: #333645;
}

.news-img {
  width: 100%;
}

.newsletter-add {
  display: flex;
  text-wrap: wrap;
  margin-bottom: 25px;
}

.name, .email {
  padding-bottom: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.name label, .email label {
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .name, .email {
    max-width: 450px;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
@media screen and (min-width: 1024px) {
  .form-input {
    flex-direction: row;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  color: #333645;
  box-sizing: border-box;
  background-color: #ddd;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
}

.newsletter-container {
  max-width: 940px;
}

.newsletter-text {
  font-weight: 600;
  line-height: 32px;
}
.newsletter-text a {
  color: #333645;
  text-decoration: underline;
}
.newsletter-text a:hover {
  color: #121419;
}

.market-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.newsltr-name::after, .newsltr-email::after {
  color: #d24d57;
  content: " * ";
}

.market-check + label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.market-check + label::before {
  content: "";
  float: left;
  width: 26px;
  height: 26px;
  border: solid #333645 3px;
  border-radius: 3px;
  margin-right: 20px;
  background-position: center;
  background-size: 50%;
}

.market-check:checked + label::before {
  content: url(../img/checkmark-24.ico);
  background-color: #333645;
}

.newsletter-input {
  margin-top: 15px;
}

label[for=marketing] {
  float: left;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
  max-width: 772px;
}
@media screen and (min-width: 992px) {
  .footer-container {
    max-width: 940px;
  }
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
  }
}

.footer-mid a {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .footer-mid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .footer-mid > div {
    width: 360px;
  }
}
@media screen and (min-width: 992px) {
  .footer-mid {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .footer-mid > div {
    width: 210px;
  }
}

.footer-bottom {
  margin-top: 30px;
  padding-left: 15px;
  background-color: #212330;
  font-size: 13px;
  margin-left: -20px;
}

.copyright {
  padding: 10px 0;
}
.copyright > * {
  margin: 0 5px;
}
@media screen and (min-width: 768px) {
  .copyright {
    display: flex;
  }
}

.footer-logo {
  padding: 30px 0 0;
  filter: brightness(10);
}
.footer-logo-img {
  width: 250px;
}
@media screen and (min-width: 480px) {
  .footer-logo-img {
    width: 320px;
  }
}

.socials-logos {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 481px) {
  .socials-logos {
    flex-direction: row;
  }
}

.upper-socials {
  display: flex;
}

.lower-socials {
  display: flex;
}

.socials a {
  padding: 16px 22px 16px;
}
@media screen and (max-width: 480px) {
  .socials a {
    padding: 16px 45px 16px;
  }
}

.facebook-btn {
  background-color: #212330;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.facebook-btn:hover {
  background-color: #3B5998;
}

.linkedin-btn {
  background-color: #212330;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.linkedin-btn:hover {
  background-color: #0077B5;
}

.twitter-btn {
  background-color: #212330;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.twitter-btn:hover {
  background-color: #00ACED;
}
@media screen and (max-width: 480px) {
  .twitter-btn {
    width: 108px;
  }
}

.insta-btn {
  background-color: #212330;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.insta-btn:hover {
  background-color: #D93175;
}

.sub-btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #333645;
  border: solid #333645 1px;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: auto;
}
.sub-btn:hover {
  background-color: #22242E;
}

.dark {
  background-color: #272936;
  border: solid #272936 1px;
}
.dark:hover {
  background-color: #121318;
}

.gray {
  background-color: #a3a8ac;
  border: solid #a3a8ac 1px;
}
.gray:hover {
  background-color: #7E808A;
}

.light {
  background-color: #926FB1;
  border: solid #7E57A0 1px;
}
.light:hover {
  background-color: #7E57A0;
}

.blue {
  background-color: #4183D7;
  border: solid #4183D7 1px;
  display: inline-block;
  margin-right: 5px;
}
.blue:hover {
  background-color: #166AF4;
}

.green {
  background-color: #08b47c;
  border: solid #08b47c 1px;
  display: inline-block;
}
.green:hover {
  background-color: #009B69;
}

.sm-btn {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 15px 18px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  height: 55px;
}

.big-btn {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 12px 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.big-btn-about {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 12px 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.btn-arrow {
  margin-left: 10px;
}

.soft-clr {
  color: #67809F;
}

.supp-clr {
  color: #4183D7;
}

.market-clr {
  color: #2ECC71;
}

.tele-clr {
  color: #D64541;
}

.design-clr {
  color: #926FB1;
}

.security-clr {
  color: #F62459;
}

.train-clr {
  color: #CE4125;
}/*# sourceMappingURL=style.css.map */