body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

#main-content {
  height: 100vh;
}

body {
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  color: #333645;
}

h4 {
  padding-left: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

footer {
  box-sizing: border-box;
  color: white;
  background-color: #323544;
  font-size: 14px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer li {
  margin: auto auto auto -25px;
}

input {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

#newsletter-name, #newsletter-email {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 47px;
  font-size: 14px;
  padding: 0 15px;
  border: solid #e5e5e5 1px;
  margin-top: 5px;
}
#newsletter-name:focus, #newsletter-email:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

header {
  padding: 20px;
}

.search-bar {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 47px;
  font-size: 14px;
  padding: 0 15px;
  border: solid rgba(0, 0, 0, 0.1) 2px;
  background-color: #E5E5E5;
}

.newsletter-add {
  display: flex;
  text-wrap: wrap;
  margin-bottom: 20px;
}

.name, .email {
  padding-bottom: 15px;
}
.name label, .email label {
  font-weight: 500;
}

.form-input {
  margin-top: 15px;
}

.newsletter {
  padding: 50px 15px;
  color: #333645;
  box-sizing: border-box;
  background-color: #ddd;
}

.newsletter-text {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.4px;
}
.newsletter-text a {
  color: #333645;
}
.newsletter-text a:hover {
  color: #121419;
}

.market-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.newsltr-name::after, .newsltr-email::after {
  color: #d24d57;
  content: " * ";
}

.market-check + label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.market-check + label::before {
  content: "";
  float: left;
  width: 26px;
  height: 26px;
  border: solid #333645 3px;
  border-radius: 3px;
  margin-right: 20px;
  background-repeat: norepeat;
  background-position: center;
  background-size: 50%;
}

.market-check:checked + label::before {
  content: url(../img/checkmark-24.ico);
  background-color: #333645;
}

.newsletter-input {
  margin-top: 15px;
}

label[for=marketing] {
  float: left;
}

.footer-bottom {
  padding-left: 15px;
  background-color: #212330;
  font-size: 13px;
}

.copyright p {
  margin: 0;
}

.crt {
  padding-top: 10px;
}

.footer-logo {
  padding: 30px 15px 0;
  filter: brightness(10);
}

.socials-logos {
  display: flex;
}

.socials a {
  padding: 16px 22px 16px;
}

.facebook-btn {
  background-color: #212330;
  margin-right: 10px;
}
.facebook-btn:hover {
  background-color: #3B5998;
}

.linkedin-btn {
  background-color: #212330;
  margin-right: 10px;
}
.linkedin-btn:hover {
  background-color: #0077B5;
}

.twitter-btn {
  background-color: #212330;
  margin-right: 10px;
}
.twitter-btn:hover {
  background-color: #00ACED;
}

.insta-btn {
  background-color: #212330;
  margin-right: 10px;
}
.insta-btn:hover {
  background-color: #D93175;
}

.btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #333645;
  border: solid #333645 1px;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: #22242E;
}/*# sourceMappingURL=style.css.map */