body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
}

header {
  padding: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  color: #333645;
}

h4 {
  padding-left: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

footer {
  box-sizing: border-box;
  color: white;
  background-color: #323544;
  font-size: 14px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer li {
  margin: auto auto auto -25px;
}

input {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

#newsletter-name, #newsletter-email {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 47px;
  font-size: 14px;
  padding: 0 15px;
  border: solid #e5e5e5 1px;
  margin-top: 5px;
}
#newsletter-name:focus, #newsletter-email:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#search-bar-input {
  padding-right: 40px;
}

.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.phone-container {
  margin-left: auto;
  padding-left: 20px;
}

.fa-phone {
  color: #333645;
}
.fa-phone:hover {
  color: #22242E;
}

.burger-container {
  display: flex;
  height: 55px;
  width: 60px;
  border-radius: 3px;
  margin-left: 20px;
  background-color: #333645;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.burger-container:hover {
  background-color: #22242E;
}

.burger-box {
  display: flex;
  flex-direction: column;
}

.burger-mid {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
}

.netmatters-logo {
  max-width: 100%;
}

.header-search {
  position: relative;
}

.header-search::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background: url("../img/search.png") no-repeat center;
  background-size: 23px auto;
  height: 30px;
  width: 30px;
}

.search-bar {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 47px;
  font-size: 14px;
  padding: 0 15px;
  border: solid rgba(0, 0, 0, 0.1) 2px;
  background-color: #E5E5E5;
}

.home-img-container {
  display: flex;
  height: 550px;
  overflow-x: hidden;
  background: url("../img/home.jpg") center/cover no-repeat #818181;
  background-blend-mode: multiply;
}

.title {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  top: 33%;
  margin-bottom: 15px;
}

.title > p {
  font-size: 1.3rem;
  margin-top: 20px;
  line-height: 1.8rem;
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: #926FB1;
  border: solid #7E57A0 1px;
  border-radius: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 15px 25px;
  margin-top: 10px;
}
.btn:hover {
  background-color: #7E57A0;
}

.accent-text {
  font-weight: 600;
}

.mid-container {
  padding: 50px 15px 0;
  margin-bottom: 15px;
}
.mid-container > h2 {
  font-size: 3rem;
  font-weight: bold;
}

.service-block {
  margin: 0 15px;
}

.software-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.software-ref:hover {
  background-color: #67809F;
}
.software-ref:hover .block-title, .software-ref:hover .desc {
  color: #fff;
}
.software-ref:hover .icon, .software-ref:hover .read-more {
  background-color: #fff;
  color: #67809F;
}

.support-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.support-ref:hover {
  background-color: #4183D7;
}
.support-ref:hover .block-title, .support-ref:hover .desc {
  color: #fff;
}
.support-ref:hover .icon, .support-ref:hover .read-more {
  background-color: #fff;
  color: #4183D7;
}

.marketing-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.marketing-ref:hover {
  background-color: #2ECC71;
}
.marketing-ref:hover .block-title, .marketing-ref:hover .desc {
  color: #fff;
}
.marketing-ref:hover .icon, .marketing-ref:hover .read-more {
  background-color: #fff;
  color: #2ECC71;
}

.telecoms-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.telecoms-ref:hover {
  background-color: #D64541;
}
.telecoms-ref:hover .block-title, .telecoms-ref:hover .desc {
  color: #fff;
}
.telecoms-ref:hover .icon, .telecoms-ref:hover .read-more {
  background-color: #fff;
  color: #D64541;
}

.webdesign-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.webdesign-ref:hover {
  background-color: #926FB1;
}
.webdesign-ref:hover .block-title, .webdesign-ref:hover .desc {
  color: #fff;
}
.webdesign-ref:hover .icon, .webdesign-ref:hover .read-more {
  background-color: #fff;
  color: #926FB1;
}

.security-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.security-ref:hover {
  background-color: #F62459;
}
.security-ref:hover .block-title, .security-ref:hover .desc {
  color: #fff;
}
.security-ref:hover .icon, .security-ref:hover .read-more {
  background-color: #fff;
  color: #F62459;
}

.training-ref {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
}
.training-ref:hover {
  background-color: #CE4125;
}
.training-ref:hover .block-title, .training-ref:hover .desc {
  color: #fff;
}
.training-ref:hover .icon, .training-ref:hover .read-more {
  background-color: #fff;
  color: #CE4125;
}

.block {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  margin-top: 30px;
  border: solid #ccc 1px;
  border-radius: 15px;
  padding: 30px;
  top: 0;
  transition: 0.5s ease;
}
.block:hover {
  top: -10px;
  transition: 0.5s ease;
}
.block-title {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333645;
}

.desc {
  position: relative;
  font-size: 0.85rem;
  font-weight: 400;
  color: #333645;
  margin-bottom: 15px;
  margin-top: 10px;
}

.rm-soft {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #67809F;
}

.rm-supp {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #4183D7;
}

.rm-mrkt {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #2ECC71;
}

.rm-tele {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #D64541;
}

.rm-dsgn {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #926FB1;
}

.rm-secure {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #F62459;
}

.rm-train {
  font-size: 1.1rem;
  height: auto;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #CE4125;
}

.soft-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #67809F;
}

.supp-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #4183D7;
}

.mrkt-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #2ECC71;
}

.tele-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #D64541;
}

.dsgn-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #926FB1;
}

.secure-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #F62459;
}

.train-icn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #CE4125;
}

.newsletter-add {
  display: flex;
  text-wrap: wrap;
  margin-bottom: 20px;
}

.name, .email {
  padding-bottom: 15px;
}
.name label, .email label {
  font-weight: 500;
}

.form-input {
  margin-top: 15px;
}

.newsletter {
  padding: 50px 15px;
  color: #333645;
  box-sizing: border-box;
  background-color: #ddd;
}

.newsletter-text {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.4px;
}
.newsletter-text a {
  color: #333645;
}
.newsletter-text a:hover {
  color: #121419;
}

.market-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.newsltr-name::after, .newsltr-email::after {
  color: #d24d57;
  content: " * ";
}

.market-check + label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.market-check + label::before {
  content: "";
  float: left;
  width: 26px;
  height: 26px;
  border: solid #333645 3px;
  border-radius: 3px;
  margin-right: 20px;
  background-repeat: norepeat;
  background-position: center;
  background-size: 50%;
}

.market-check:checked + label::before {
  content: url(../img/checkmark-24.ico);
  background-color: #333645;
}

.newsletter-input {
  margin-top: 15px;
}

label[for=marketing] {
  float: left;
}

.footer-bottom {
  padding-left: 15px;
  background-color: #212330;
  font-size: 13px;
}

.copyright p {
  margin: 0;
}

.crt {
  padding-top: 10px;
}

.footer-logo {
  padding: 30px 15px 0;
  filter: brightness(10);
}

.socials-logos {
  display: flex;
}

.socials a {
  padding: 16px 22px 16px;
}

.facebook-btn {
  background-color: #212330;
  margin-right: 10px;
}
.facebook-btn:hover {
  background-color: #3B5998;
}

.linkedin-btn {
  background-color: #212330;
  margin-right: 10px;
}
.linkedin-btn:hover {
  background-color: #0077B5;
}

.twitter-btn {
  background-color: #212330;
  margin-right: 10px;
}
.twitter-btn:hover {
  background-color: #00ACED;
}

.insta-btn {
  background-color: #212330;
  margin-right: 10px;
}
.insta-btn:hover {
  background-color: #D93175;
}

.sub-btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #333645;
  border: solid #333645 1px;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}
.sub-btn:hover {
  background-color: #22242E;
}/*# sourceMappingURL=style.css.map */