
#main-content {
   // height: 100vh;
}

body {
    margin: 0;
}

header {
    padding: 20px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    color: #333645;
}

h4 {
    @include pad-left();
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}



footer {
    box-sizing: border-box;
    color: white;
    background-color: #323544;
    font-size: 14px;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    li {
        margin: auto auto auto -25px;
    }
}

input {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

#newsletter {
    &-name, &-email {
        @include srch();
        border: solid #e5e5e5 1px;
        margin-top: 5px;
        &:focus {
            border-color: #5bc0de;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
        }
    }
}

#search-bar-input {
    padding-right: 40px;
}

.main-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.phone-container {
    margin-left: auto;
    padding-left: 20px;
}

.fa-phone {
    color: #333645;
    &:hover {
        color: #22242E;
    }
}

.burger-container {
    display: flex;
    height: 55px;
    width: 60px;
    border-radius: 3px;
    margin-left: 20px;
    background-color: #333645;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include btn-hvr();
}

.burger-box {
    display: flex;
    flex-direction: column;
}

.burger-mid {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
}

.netmatters-logo {
    max-width: 100%;
}

.header-search {
    position: relative;
}

.header-search::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    background: url("../img/search.png") no-repeat center;
    background-size: 23px auto;
    height: 30px;
    width: 30px;
}

.search-bar {
    @include srch();
    border: solid rgba(0,0,0,.1) 2px;
    background-color: #E5E5E5;
}

.home-img-container {
    display: flex;
    height: 550px;
    overflow-x: hidden;
    background: url("../img/home.jpg") center / cover no-repeat #818181;
    background-blend-mode: multiply;
}

.title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    top: 33%;
    margin-bottom: 15px;
}

.title > p {
    font-size: 1.3rem;
    margin-top: 20px;
    line-height: 1.8rem;
}

.btn {
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background-color: #926fb1;
    border: solid #7E57A0 1px;
    border-radius: 3px;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 10px;
    &:hover {
        background-color: #7E57A0;
    }
}

.accent-text {
    font-weight: 600;
}

.mid-container {
    padding: 50px 15px;
    & > h2 {
        font-size: 3rem;
        font-weight: bold;
    }
}

.newsletter-add {
    display: flex;
    text-wrap: wrap;
    margin-bottom: 20px;
}

.name, .email {
    padding-bottom: 15px;
    label {
        font-weight: 500;
    }
}

.form-input {
    margin-top: 15px;
}

.newsletter {
    padding: 50px 15px;
    color: #333645;
    box-sizing: border-box;
    background-color: #ddd;
}

.newsletter-text {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .4px;
    a {
        color: #333645;
        &:hover {
            color: #121419;
        }
    }
}

.market-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.newsltr-name::after, .newsltr-email::after {
    color: #d24d57;
    content: " * "
}

.market-check + label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.market-check + label::before {
    content: "";
    float: left;
    width: 26px;
    height: 26px;
    border: solid #333645 3px;
    border-radius: 3px;
    margin-right: 20px;
    background-repeat: norepeat;
    background-position: center;
    background-size: 50%;
}

.market-check:checked + label::before {
    content: url(../img/checkmark-24.ico);
    background-color: #333645;
}

.newsletter-input {
    margin-top: 15px;
}

label[for="marketing"] {
    float: left;
}

.footer-bottom {
    padding-left: 15px;
    background-color: #212330;
    font-size: 13px;
}

.copyright p {
    margin: 0;
}

.crt {
    padding-top: 10px;
}

.footer-logo {
    padding: 30px 15px 0;
    filter: brightness(10);
}

.socials-logos {
    display: flex;
}

.socials a {
    padding: 16px 22px 16px;
}

.facebook-btn {
    @include logo-btn;
    &:hover {
        background-color: #3B5998;
    }
}

.linkedin-btn {
    @include logo-btn;
    &:hover {
        background-color: #0077B5;
    }
}

.twitter-btn {
    @include logo-btn;
    &:hover {
        background-color: #00ACED;
    }
}

.insta-btn {
    @include logo-btn;
    &:hover {
        background-color: #D93175;
    }
}

.sub-btn {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: #333645;
    border: solid #333645 1px;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    @include btn-hvr();
}