
// #main-content {
//     height: 100vh;
// }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.clickableoverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 10;
}

body {
    letter-spacing: 0.4px;
    margin: 0;
}

header {
    padding-top: 20px;
}

// .sticky-header {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     padding-top: 20px;
//     transition: top 0.5s ease 0s;
//     background-color: $color-white;
//     box-shadow: 0 3px 35px rgba(0,0,0,.1);
//     z-index: 2;
// }

.sticky-header {
    position: fixed;
    top: -208.42px;
    width: 100%;
    padding-top: 20px;
    transition: top 0.5s ease 0s;
    background-color: $color-white;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    z-index: 2;
}

.is-sticky {
    top: 0;
    transition: top 0.5s ease 0s;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    color: $color-base;
}

h3 {
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

h4 {
    @include pad-left(0);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}

a {
    color: $color-white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    box-sizing: border-box;
    color: $color-white;
    background-color: #323544;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    font-size: 14px;
    li {
        margin: auto auto auto -40px;
    }
}

input {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

#newsletter {
    &-name, &-email {
        @include srch();
        border: solid #e5e5e5 1px;
        margin-top: 5px;
        &:focus {
            border-color: $color-lightblue;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
        }
    }
}

#search-bar-input {
    padding-right: 40px;
    
}

#search-bar-input-med {
    padding-right: 40px;
}

#search-med-submit {
    padding: 3px 18px 0;
    border-radius: 0 3px 3px 0;
    border: solid $color-gray 1px;
    background-color: $color-graybutton;
    color: $color-white;
    cursor: pointer;
    &:hover {
        background-color: $color-graybutton-hover;
    }
    @media screen and (min-width: 992px) {
        height: 55px;
        border-radius: 3px;
    }
    @media screen and (min-width: 1260px) {
        border-radius: 0 3px 3px 0;
    }
}

.main-body {
    position: relative;
    transition: margin-right 0.3s ease;
    margin-right: 0;
}

// ********* SIDE BAR ********* //

.sidebar {
    position: fixed;
    top: 0;
    right: -275px;
    width: 275px;
    height: 100%;
    background-color: $color-base;
    overflow-y: auto;
    text-transform: uppercase;
    transition: right 0.3s ease; 
    z-index: 11;
    @media screen and (min-width: 992px) {
        right: -333px;
        width: 333px;
    }
}

.darken-site {
    background-color: $color-white;
    filter: brightness(50%);
}

.allmove {
    right: 275px;
    cursor: pointer;
    transition: right 0.5s ease;
    @media screen and (min-width: 992px) {
    right: 333px;
    }
}

.sidebar-show {
    right: 0;
    transition: right 0.5s ease;
}

.sidebar a:hover {
    text-decoration: none;
}

// .sidebar-inner { 
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.sidebar-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container2 {
    display: flex;
    flex-direction: column;
}

.nav-block-sidebar {
    text-align: center;
}

.submenu-container {
    display: flex;
    flex-direction: column;
}

.contact-us-sidebar {
    padding: 18px 0 18px 0;
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    margin-top: 20px;
    border-radius: 4px;
    font-size: 18px;
    width: 216px;
    &:hover {
        background-color: $color-sbhover;
    }
}

.sidebar-secondary {
    display: flex;
    flex-direction: column;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    font-size: 16px;
    padding: 14px 20px;
    &:hover {
        background-color: $color-sbhover;
    }
}

.submenu {
    margin-top: 20px;
}

.submenu-item {
    display: flex;
    flex-direction: column;
    width: 216px;
    border-top: 1px solid rgba(0,0,0,.45);
    & a {
        padding: 10px 20px;
        background-color: $color-nadark;
        border-top: 1px solid hsla(0,0%,100%,.05);
    }
}

.submenu-item-secondary {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0,0,0,.45);
    font-size: 14px;
    & a {
        padding: 15px 20px;
        background-color: $color-nadark;
        border-top: 1px solid hsla(0,0%,100%,.05);
    }
}

.submenu-item-secondary > a:before {
    content: "\BB";
    margin-right: 20px;
}

.last-sb-item {
    margin-bottom: 20px;
}

.show-med {
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.hidden-med {
    @media screen and (min-width: 992px) {
        display: none;
    }
}

// ********* END OF SIDE BAR ********* //

.cookieconsent-btn {
    position: fixed;
    font-size: 0.8rem;
    cursor: pointer;
    color: $color-white;
    font-weight: 600;
    background: $color-midgray;
    border: solid $color-midgray;
    border-width: 1px 1px 0 0;
    border-radius: 0 10px 0 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-top: 2px;
    &:hover {
        background: $color-gray-accent;
    }
}

.chat-bubble {
    position: fixed;
    cursor: pointer;
    color: $color-white;
    bottom: 20px;
    right: 10px;
    z-index: 3;
    height: 60px;
    width: 60px;
    background-color: $color-base;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2),
                0 6px 20px 0 rgba(0,0,0,.19);
    & > i {
        margin-top: 15px;
        margin-left: 14px;
    }
}

.primary-container {
    padding-left: 20px;
    padding-right: 20px;
}

.main-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media screen and (min-width: 560px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1260px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.main-container {
    @media screen and (min-width: 992px) {
        margin-left: auto;
    }
    @media screen and (min-width: 1260px) {
        margin-left: auto;
    }
}

.phone-container {
    margin-left: auto;
    padding-left: 20px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-btn-icon {
    margin-right: 8px;
}

.support-button {
    margin-left: auto;
    margin-right: 15px;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.contact-button {
    margin-right: 20px;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.fa-phone {
    color: $color-base;
    &:hover {
        color: #22242E;
    }
}

.burger-container {
    display: flex;
    height: 55px;
    max-width: 60px;
    border-radius: 3px;
    background-color: $color-base;
    cursor: pointer;
    margin-left: 20px;
    @include btn-hvr();
    @media screen and (min-width: 1260px) {
        right: 0;
        margin-right: auto;
    }
}

.hamburger-inner {
    background-color: $color-white;
    &::before {
        background-color: $color-white;
    }
    &::after {
        background-color: $color-white;
    }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    border-radius: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: $color-white; 
}

// .burger-box {
//     display: flex;
//     flex-direction: column;
// }

// .burger-mid {
//     width: 30px;
//     height: 4px;
//     background-color: $color-white;
//     margin: 3px 0;
// }

.netmatters-logo {
    width: 100%;
    max-width: 370px;
}

.header-search {
    position: relative;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-search::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    background: url("../img/search.png") no-repeat center;
    background-size: 23px auto;
    height: 30px;
    width: 30px;
}

.search-bar {
    @include srch();
    border: solid rgba(0,0,0,.1) 2px;
    background-color: #E5E5E5;
    
}

.header-search-med {
    display: flex;
    padding-left: 45px;
    margin-left: auto;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 992px) {
        margin-left: 0;
        padding: 0;
    }
}

.search-bar-med {
    display: inline;
    font-family: inherit;
    width: 174px;
    height: 55px;
    font-size: 14px;
    padding: 0 15px;
    margin-left: auto;
    border: solid $color-lightgray 1px;
    border-radius: 0 0 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:focus {
        border-color: $color-lightblue;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
    }
    @media screen and (min-width: 992px) {
        display: none;
        width: 0;
    }
    @media screen and (min-width: 1260px) {
        display: inline;
        width: 230px;
    }
}

.main-nav {
    color: $color-white;
    background-color: $color-base;
    position: relative;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.nav-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// *************** NAV ICONS *************** //

.nav-box-icn {
    width: 133px;
    padding: 15px 0 16px;
    @media screen and (min-width: 1260px) {
        width: 167px;
    }
}

.software {
    display: flex;
    flex-direction: column;
    &:hover {
        background-color: $color-software;
    }
}

.software-tri {
    @include triangle($color-software, 12px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-software, 18px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-software, 7px);
    }
}

.itsupport {
    &:hover {
        background-color: $color-itsupp;
    }
}

.itsupport-tri {
    @include triangle($color-itsupp, 145px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-itsupp, 151px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-itsupp, 174px);
    }
}

.marketing {
    &:hover {
        background-color: $color-marketing;
    }
}

.marketing-tri {
    @include triangle($color-marketing, 278px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-marketing, 284px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-marketing, 341px);
    }
}


.telecoms {
    &:hover {
        background-color: $color-telecoms;
    }
}

.telecoms-tri {
    @include triangle($color-telecoms, 411px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-telecoms, 418px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-telecoms, 508px);
    }
}

.webdesign {
    &:hover {
        background-color: $color-design;
    }
}

.webdesign-tri {
    @include triangle($color-design, 544px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-design, 550px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-design, 675px);
    }
}

.security {
    &:hover {
        background-color: $color-security;
    }
}

.security-tri {
    @include triangle($color-security, 677px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-security, 683px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-security, 842px);
    }
}

.development {
    &:hover {
        background-color: $color-training;
    }
}

.development-tri {
    @include triangle($color-training, 810px);
    @media screen and (min-width: 1024px) {
        @include triangle($color-training, 816px);
    }
    @media screen and (min-width: 1260px) {
        @include triangle($color-training, 1009px);
    }
}

// *********** END OF NAV ICONS *********** //

.nav-block {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    text-transform: uppercase;
}

.hvr-w {
    @include hvr-white();
}

.software:hover .software-hover {
    @include hvr-nav($color-softwaredark);
}

.itsupport:hover .itsupp-hover {
    @include hvr-nav($color-itsuppdark);
}

.marketing:hover .marketing-hover {
    @include hvr-nav($color-marketing-dark);
}

.telecoms:hover .telecoms-hover {
    @include hvr-nav($color-telecomsdark);
}

.webdesign:hover .webdesign-hover {
    @include hvr-nav($color-design-dark);
}

.security:hover .security-hover {
    @include hvr-nav($color-securitydark);
}

.development:hover .development-hover {
    @include hvr-nav($color-trainingdark);
}

.hoverbox {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    @media screen and (min-width: 1440px) {
        justify-content: flex-start;
    }
}



.nav-hover-content {
    display: none;
    text-transform: none;
    padding-left: 10px;
    padding-right: 40px;
    & > h2 {
        color: $color-white;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1024px) {
        padding-left: 20px;
    }
    @media screen and (min-width: 1260px) {
        padding-left: 30px;
    }
    @media screen and (min-width: 1440px) {
        padding-left: 100px;
    }
}

.hoverlist-item {
    padding-bottom: 20px;
    & > a {
        font-size: 18px;
        font-weight: 400;
        padding-right: 5px;
        @media screen and (min-width: 1024px) {
            font-size: 19px;
        }
        & > i {
            margin-right: 5px;
        }
    }
    
}

.nav-icn {
    display: block;
    padding-bottom: 5px;
}

.nav-small {
    font-size: 0.65rem;
    display: block;
    height: 11px;
}

.home-img-container {
    display: flex;
    height: 650px;
    overflow-x: hidden;
    background-blend-mode: multiply;
    @media screen and (min-width: 500px) {
        height: 550px;
    }
}

.banner-img1 {
    background: url("../img/banners/home.jpg") center / cover no-repeat #818181;
}

.banner-img2 {
    background: url("../img/banners/home2.jpg") center / cover no-repeat #818181;
}

.banner-img3 {
    background: url("../img/banners/home3.png") center / cover no-repeat #818181;
}

.banner-img4 {
    background: url("../img/banners/home4.png") center / cover no-repeat #818181;
}

.banner-img5 {
    background: url("../img/banners/home5.png") center / cover no-repeat #818181;
}

.banner-img6 {
    background: url("../img/banners/home6.jpg") center / cover no-repeat #818181;
}

.banner-img7 {
    background: url("../img/banners/home7.png") center / cover no-repeat #818181;
}

.banner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1024px) {
        align-items: flex-start;
    }
}

.title {
    position: absolute;
    color: $color-white;
    font-weight: bold;
    width: 300px;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
    margin: 50px 0 15px 0;
    @media screen and (min-width: 500px) {
        width: 440px;
    }
    @media screen and (min-width: 530px) {
        width: 500px;
    }
    @media screen and (min-width: 768px) {
        width: 700px;
    }
    @media screen and (min-width: 992px) {
        width: 800px;
        text-align: left;
        font-size: 4rem;
        line-height: 5rem;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: 1024px) {
        margin-left: 40px;
    }
    @media screen and (min-width: 1260px) {
        margin-top: 100px;
        width: 1000px;
        margin-right: 40px;
        margin-left: 20px;
    }
    @media screen and (min-width: 1440px) {
        margin-left: 120px;
        width: 1000px;
    }
}

.title-lead {
    margin-top: 80px;
    @media screen and (min-width: 768px) {
        margin-top: 120px;
    }
    @media screen and (min-width: 992px) {
        margin-top: 50px;
    }
}

.title-bespoke {
    @include title-text();
}

.title-support {
    @include title-text();
}

.title-marketing {
    @include title-text();
}

.title-telecoms {
    @include title-text();
}

.title-design {
    @include title-text();
}

.title-security {
    @include title-text();
}

.title > p {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.8rem;
}

.accent-text {
    font-weight: 600;
}

.slick-dots {
    bottom: 40px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: $color-white;
    line-height: 22px;
}

.slick-dots li.slick-active button:before {
    color: $color-white;
    opacity: 1;
    border: solid $color-white 2px;
    border-radius: 50%;
}

.slick-dots li button:hover {
    opacity: 0.3;
    color: $color-darkgray;
}

li.slick-active button:hover {
    opacity: 1;
}

// "OUR SERVICES" BLOCK ------------------------------------------------------------

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 15px 0;
    justify-content: center;
    & > h2 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
    }
    & > a {
        color: $color-base;
        margin-left: 190px;
        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 992px) {
            margin-left: 400px;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 450px;
        }
        @media screen and (min-width: 1260px) {
            margin-left: 680px;
        }
    }
}

.service-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 992px) {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        width: 940px;
    }
    @media screen and (min-width: 1260px) {
        justify-content: center;
        width: 100%;
    }
}

.view-our-work, .view-all-news {
    a {
        color: $color-base;
    }
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.software-ref {
    @include services-cards();
    &:hover {
        background-color: $color-software;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-software;
        }
    }
}

.support-ref {
    @include services-cards();
    &:hover {
        background-color: $color-itsupp;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-itsupp;
        }
    }
    @media screen and (min-width: 1024px) {
        margin: 0 15px;
    }
}

.marketing-ref {
    @include services-cards();
    &:hover {
        background-color: $color-marketing;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-marketing;
        }
    }
}

.telecoms-ref {
    @include services-cards();
    &:hover {
        background-color: $color-telecoms;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-telecoms;
        }
    }
}

.webdesign-ref {
    @include services-cards();
    &:hover {
        background-color: $color-design;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-design;
        }
    }
}

.security-ref {
    @include services-cards();
    &:hover {
        background-color: $color-security;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-security;
        }
    }
}

.training-ref {
    @include services-cards();
    &:hover {
        background-color: $color-training;
        .block-title, .desc {
            color: $color-white;
        }
        .icon, .read-more {
            background-color: $color-white;
            color: $color-training;
        }
    }
}

.block {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    max-width: 690px;
    margin-top: 30px;
    border: solid #ccc 1px;
    border-radius: 15px;
    padding: 30px;
    top: 0;
    transition: .5s ease;
    &:hover {
        top: -10px;
        transition: .5s ease;
    }
    &-title {
        position: relative;
        font-size: 1.3rem;
        font-weight: 400;
        color: $color-base;
    }

    
}

.block-top {
    margin-right: 10px;
    margin-left: 10px;
    @media screen and (min-width: 992px) {
        width: 280px;
    }
    @media screen and (min-width: 1024px) {
        width: 300px;
    }
    @media screen and (min-width: 1260px) {
        width: 380px;
    }
}

.service-block-med {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: stretch;
        margin: 0 0 75px;
    }
    @media screen and (min-width: 1440px) {
        width: 1200px;
    }
}

.block-med {
    @media screen and (min-width: 768px) {
        margin-left: 10px;
        margin-right: 10px;
        width: 335px;
    }
    @media screen and (min-width: 992px) {
        width: 430px;
    }
    @media screen and (min-width: 1024px) {
        width: 50%;
        max-width: 450px;
    }
    @media screen and (min-width: 1260px) {
        width: 280px;
    }
}

.desc {
    position: relative;
    font-size: 0.85rem;
    font-weight: 400;
    color: $color-base;
    margin-bottom: 15px;
    margin-top: 10px;
}

.rm-soft {
    @include read-more();
    background-color: $color-software;
}

.rm-supp {
    @include read-more();
    background-color: $color-itsupp;
}

.rm-mrkt {
    @include read-more();
    background-color: $color-marketing;
}

.rm-tele {
    @include read-more();
    background-color: $color-telecoms;
}

.rm-dsgn {
    @include read-more();
    background-color: $color-design;
}

.rm-secure {
    @include read-more();
    background-color: $color-security;
}

.rm-train {
    @include read-more();
    background-color: $color-training;
}

.soft-icn {
    background-color: $color-software;
}

.supp-icn {
    background-color: $color-itsupp;
}

.mrkt-icn {
    background-color: $color-marketing;
}

.tele-icn {
    background-color: $color-telecoms;
}

.dsgn-icn {
    background-color: $color-design;
}

.secure-icn {
    background-color: $color-security;
}

.train-icn {
    background-color: $color-training;
}

.big-icn {
    @include services-icons();
}

.partners-banner, .clients-banner {
    margin-top: 50px;
    margin-bottom: 50px;
}

.partners-img-container, .clients-img-container {
    display: flex;
    position: relative;
    max-height: 80px;
    margin-left: 15px;
    align-items: center;
    overflow: hidden;
    animation: slide 5s infinite;
}

.partners-img-container div {
    flex: 0 0 auto;
}

.scroll {
    animation: scroll 10s linear infinite;
}

.client-box {
    display: flex;
    vertical-align: middle;
    position: relative;
}

.description-hide {
    display: none;
}

.grayscale {
    max-height: 70px;
    margin-right: 50px;
    filter: grayscale(100);
    &:hover {
        filter: none;
    }
}

// END OF OUR SERVICES BLOCK -------------------------------------------------------

.welcome-container {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: $color-base;
    @media screen and (min-width: 992px) {
        flex-direction: row;
        justify-content: center;
    }
    @media screen and (min-width: 1260px) {
        justify-content: center;
    }
}

.welcome, .clients-container {
    margin-bottom: 30px;
    & > * {
        color: $color-white;
    }
    & > h2 {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
    & > p {
        line-height: 1.8rem;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 992px) {
        width: 455px;
    }
    @media screen and (min-width: 1260px) {
        width: 590px;
    }
}

.clients-container {
    margin-right: 10px;
}

.star-container {
    margin-bottom: 30px;
}

.fa-star {
    color: orange;
    font-size: 50px;
}

.quote-container {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 25px;
}

.author {
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-gray;
}

.author-container {
    margin-bottom: 25px;
}

.review-buttons {
    padding-top: 15px;
}

.news-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 20px;
    & > h2 {
        font-size: 2.4rem;
        font-weight: 600;
    }
    & > a {
        @media screen and (max-width: 767px) {
            display: none;
        }
        color: $color-base;
        margin-left: auto;
        @media screen and (min-width: 992px) {
            margin-left: 550px;
        }
        @media screen and (min-width: 1260px) {
            margin-left: 780px;
        }
    }
}

.news-panel {
    margin: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.news1, .news2 {
    @media screen and (min-width: 768px) {
        max-width: 350px;
        margin: 0 10px;
    }
    @media screen and (min-width: 992px) {
        max-width: 450px;
    }
    @media screen and (min-width: 1260px) {
        max-width: 370px;
    }
}

.news3 {
    @media screen and (min-width: 768px) {
        display: none;
    }
    @media screen and (min-width: 1260px) {
        display: inline-block;
        margin: 0 10px;
    }
    @media screen and (min-width: 1260px) {
        max-width: 370px;
    }
}

.circle-logo {
    border-radius: 50%;
}

.tooltip-btn-a {
    @include tooltip();
}

.tooltip-btn-b {
    @include tooltip($color-telecoms);
}

.news-text-a {
    @include news-color();
}

.news-text-b {
    @include news-color($color-telecoms);
}

.read-time {
    font-size: .8rem;
    color: $color-gray;
    text-transform: uppercase;
}

.news-block {
    position: relative;
    cursor: pointer;
    top: 0;
    transition: .5s ease;
    &:hover {
        top: -10px;
        transition: .5s ease;
    }
}

.op {
    display: flex;
    color: $color-midgray;
    font-size: 0.9rem;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid #ccc 1px;
    &-info {
        margin: auto 0;
        padding-left: 20px;
        & > strong {
            color: $color-base;
        }
    }
}

.news-img {
    width: 100%;
}

.newsletter-add {
    display: flex;
    text-wrap: wrap;
    margin-bottom: 25px;
    @media screen and (min-width: 992px) {
        margin: 0 10px 25px;
    }
}

.name, .email {
    padding-bottom: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    label {
        font-weight: 500;
    }
    @media screen and (min-width: 1024px) {
        max-width: 450px;
    }
    @media screen and (min-width: 1260px) {
        max-width: 1000px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
    color: $color-base;
    box-sizing: border-box;
    background-color: #ddd;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
}

.newsletter-container {
    max-width: 940px;
    @media screen and (min-width: 1260px) {
        max-width: 1200px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.newsletter-text {
    font-weight: 600;
    line-height: 32px;
    a {
        color: $color-base;
        text-decoration: underline;
        &:hover {
            color: #121419;
        }
    }
}

.market-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.newsltr-name::after, .newsltr-email::after {
    color: #d24d57;
    content: " * "
}

.market-check + label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.market-check + label::before {
    content: "";
    float: left;
    width: 26px;
    height: 26px;
    border: solid $color-base 3px;
    border-radius: 3px;
    margin-right: 20px;
    background-position: center;
    background-size: 50%;
}

.market-check:checked + label::before {
    content: url(../img/checkmark-24.png);
    background-color: $color-base;
}

.newsletter-input {
    margin-top: 15px;
}

label[for="marketing"] {
    float: left;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    max-width: 772px;
    @media screen and (min-width: 992px) {
        max-width: 940px;
    }
    @media screen and (min-width: 1260px) {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        justify-content: center;
    }
}

.footer-top {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
    }
    @media screen and (min-width: 1260px) {
        margin-right: 60px;
        justify-content: flex-start;
    }
}

.footer-mid {
    & a {
        font-size: .8rem;
    }
    & li {
        padding-left: 40px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        & > div {
            width: 360px;
        }
    }
    @media screen and (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: space-around;
        & > div {
            width: 210px;
        }
    }
    @media screen and (min-width: 1260px) {
        
    }
}

.footer-bottom {
    margin-top: 30px;
    padding-left: 15px;
    background-color: #212330;
    font-size: 13px;
    margin-left: -20px;
}

.copyright {
    padding: 10px 0;
    & > * {
        margin: 0 5px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.footer-logo {
    padding: 30px 0 0;
    filter: brightness(10);
    &-img {
        width: 250px;
        @media screen and (min-width: 480px) {
            width: 320px
        }
    }
}

.socials-logos {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 481px) {
        flex-direction: row;
    }
}

.upper-socials {
    display: flex;
}

.lower-socials {
    display: flex;
}

.socials a {
    padding: 16px 22px 16px;
    @media screen and (max-width: 480px) {
    padding: 16px 45px 16px;
    }
}

.facebook-btn {
    @include logo-btn;
    &:hover {
        background-color: #3B5998;
    }
}

.linkedin-btn {
    @include logo-btn;
    &:hover {
        background-color: #0077B5;
    }
}

.twitter-btn {
    @include logo-btn;
    &:hover {
        background-color: #00ACED;
    }
    @media screen and (max-width: 480px) {
        width: 108px;
    }
}

.insta-btn {
    @include logo-btn;
    &:hover {
        background-color: #D93175;
    }
}

.sub-btn {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: $color-white;
    background-color: $color-base;
    border: solid $color-base 1px;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: auto;
    @include btn-hvr();
}

.dark {
    @include btn-color($color-accent, $color-dark, $color-accent);
}

.gray {
    @include btn-color($color-gray, $color-gray-accent, $color-gray);
}

.lightgray {
    @include btn-color($color-graybutton, $color-graybutton-hover, $color-graybutton);
}

.paleblue {
    @include btn-color($color-software, $color-softwaredark, $color-software);
}

.paleit {
    @include btn-color($color-itsupp, $color-itsupp-accent, $color-itsupp);
}

.palemarketing {
    @include btn-color($color-marketing, $color-marketing-pale, $color-marketing);
}

.paletelecoms {
    @include btn-color($color-telecoms, $color-telecomsdark, $color-telecoms);
}

.palesecurity {
    @include btn-color($color-security, $color-securitydark, $color-security);
}

.light {
    @include btn-color($color-design, $color-design-dark, $color-design-dark);
}

.lightblue {
    @include btn-color($color-bluebutton, $color-bluebutton-hover, $color-bluebutton);
    display: inline-block;
    margin-right: 5px;
}

.blue {
    @include btn-color($color-itsupp, $color-itsupp-dark, $color-itsupp);
    display: inline-block;
    margin-right: 5px;
}

.green {
    @include btn-color($color-marketing-accent, $color-marketing-dark, $color-marketing-accent);
    display: inline-block;
}

.sm-btn {
    @include small-btn();
    display: flex;
    align-items: center;
    height: 55px;
}

.big-btn {
    @include bigger-btn(3px, 15px 30px);
}

.big-btn-about {
    @include bigger-btn(6px);
}

.btn-arrow {
    margin-left: 10px;
}

.soft-clr {
    color: $color-software;
}

.supp-clr {
    color: $color-itsupp;
}

.market-clr {
    color: $color-marketing;
}

.tele-clr {
    color: $color-telecoms;
}

.design-clr {
    color: $color-design;
}

.security-clr {
    color: $color-security;
}

.train-clr {
    color: $color-training;
}

// ********* COOKIES POP UP ********* //

.cookies-text {
    margin-top: 0;
    & a {
        color: $color-darkgray;
    }
}

#cookies-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.cookies-container {
    background-color: $color-white;
    margin: auto;
    border-radius: 4px;
}

.cookies-dialogue {
    min-width: 200px;
    @media screen and (min-width: 768px) {
        width: 600px;
    }
}

.cookies-header {
    padding: 15px 20px;
    & > h3 {
        color: $color-base;
        text-align: left;
        margin: 0;
        font-weight: 400;
    }
}

.cookies-description {
    padding: 20px;
    border-top: solid $color-lightergray 1px;
    border-bottom: solid $color-lightergray 1px;
    color: $color-darkgray;
    line-height: 1.875rem;
}

.cookies-buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.ck-btn {
    @include small-btn();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 100%;
}

.cookies-btn-spacer {
    margin-bottom: 30px;
    margin-left: 30px;
}

// ********* END OF COOKIES ********* //
