.page-title-container {
    background-color: $color-base;
}

.page-title {
    padding-top: 20px;
    padding-bottom: 20px;
    & > h2 {
        color: $color-white;
    }
}

.our-offices-container {
    padding-top: 20px;
    padding-bottom: 20px;
}