
#main-content {
    height: 100vh;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
}

h4 {
    @include pad-left();
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}

.newsletter {
    padding: 50px 15px;
    box-sizing: border-box;
    background-color: #ddd;
}

footer {
    box-sizing: border-box;
    color: white;
    background-color: #323544;
    font-size: 14px;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    li {
        margin: auto auto auto -25px;
    }
}

.footer-bottom {
    padding-left: 15px;
    background-color: #212330;
    font-size: 13px;
}

.copyright p {
    margin: 0;
}

.crt {
    padding-top: 10px;
}

.footer-logo {
    padding: 30px 15px 0;
    filter: brightness(10);
}

.socials-logos {
    display: flex;
}

.socials a {
    padding: 16px 22px 16px;
}

.facebook-btn {
    @include logo-btn;
    &:hover {
        background-color: #3B5998;
    }
}

.linkedin-btn {
    @include logo-btn;
    &:hover {
        background-color: #0077B5;
    }
}

.twitter-btn {
    @include logo-btn;
    &:hover {
        background-color: #00ACED;
    }
}

.insta-btn {
    @include logo-btn;
    &:hover {
        background-color: #D93175;
    }
}