@mixin pad-left($pl: 15px) {
    padding-left: $pl;
    @content;
}

@mixin logo-btn() {
    background-color: #212330;
    margin-right: 10px;
    @content;
}

@mixin srch() {
    display: block;
    font-family: inherit;
    width: 100%;
    height: 47px;
    font-size: 14px;
    padding: 0 15px;
    @content;
}

@mixin btn-hvr() {
    &:hover {
        background-color: #22242E;
    }
    @content;
}