@mixin pad-left($pl: 15px) {
    padding-left: $pl;
    @content;
}

@mixin logo-btn() {
    background-color: #212330;
    display: flex;
    justify-content: center;
    margin: 5px;
    @content;
}

@mixin srch() {
    display: block;
    font-family: inherit;
    width: 100%;
    height: 47px;
    font-size: 14px;
    padding: 0 15px;
    @content;
}

@mixin small-btn($brdrr: 3px) {
    box-sizing: border-box;
    cursor: pointer;
    color: $color-white;
    border-radius: $brdrr;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 15px 18px;
    font-weight: 400;
    text-align: center;
    @content;
}

@mixin bigger-btn($brdrr: 3px, $ptop: 12px 30px) {
    box-sizing: border-box;
    cursor: pointer;
    color: $color-white;
    border-radius: $brdrr;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: $ptop;
    margin-top: 20px;
    margin-right: 10px;
    @content;
}

@mixin btn-color($bgc: $color-white, $bgc-h: $color-white, $brdrc: $color-white) {
    background-color: $bgc;
    border: solid $brdrc 1px;
    &:hover {
        background-color: $bgc-h;
        border-color: $bgc-h;
    }
    @content;
}

@mixin btn-hvr() {
    &:hover {
        background-color: #22242E;
    }
    @content;
}

@mixin services-cards() {
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    text-decoration: none;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
    @content;
}

@mixin read-more() {
    font-size: 1.1rem;
    height: auto;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-white;
    padding: 10px 15px;
    border-radius: 3px;
    @content;
}

@mixin services-icons() {
    display: block;
    color: $color-white;
    width: 65px;
    height: 65px;
    margin: 0 auto 20px;
    border-radius: 50%;
    & > .fa-solid {
        margin-top: 17px;
    }
    @content;
}

@mixin tooltip($ttclr: $color-itsupp) {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    top: 10px;
    right: 0;
    background-color: $ttclr;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 1.5rem;
    z-index: 1;
    @content;
}

@mixin news-color($txtclr: $color-itsupp) {
    font-size: 1rem;
    border: solid #ccc 1px;
    margin: -10px 0 30px 0;
    padding: 30px 30px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    p {
        font-size: .8rem;
        line-height: 1.4rem;
        color: $color-darkgray;
        margin-bottom: 25px;
    }
    a {
        font-weight: bold;
        color: $txtclr;
        &:hover {
            text-decoration: none;
        }
    }
    @content;
}

@mixin hvr-white() {
    &:hover i {
        color: $color-white;
    }
    @content;
}

@mixin triangle($tri-clr) {
    display: none;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 66.5px 0 66.5px;
    border-color: $tri-clr transparent transparent transparent;
    transform: rotate(0deg);
    bottom: -30px;
    z-index: 2;
    @media screen and (min-width: 1260px) {
        border-width: 30px 83.5px 0 83.5px;
    }
    @content;
}

@mixin clientstriangle() {
    display: block;
    position: absolute;
    bottom: -29px;
    left: 50%;
    margin-left: -36px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: $color-base transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2;
    @content;
}

@mixin hvr-nav($bg-clr) {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    font-weight: bold;
    cursor: default;
    top: 100%;
    width: 100%;
    left: 0;
    color: $color-white;
    background-color: $bg-clr;
    padding-top: 40px;
    z-index: 1;
    @content;
}

@mixin hvr-cli() {
    position: absolute;
    text-align: left;
    font-weight: bold;
    cursor: default;
    color: $color-white;
    background-color: $color-base;
    z-index: 1;
    @content;
}

@mixin clienthover($left, $height) {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: $left;
    height: $height;
    @content;
}
