
$color-white: #fff;
$color-black: #001;
$color-lightgray: #ccc;
$color-gray: #a3a8ac;
$color-midgray: #75788a;
$color-darkgray: #666;
$color-gray-accent: #7E808A;
$color-lightergray: #ddd;
$color-base: #333645;
$color-dark: #121318;
$color-nadark: #262834;
$color-accent: #272936;
$color-sbhover: #3D404E;
$color-software: #67809F;
$color-support-hover: #2A6EC6;
$color-softwaredark: #526781;
$color-support-hover: #2A6EC6;
$color-lightblue: #5bc0de;
$color-itsupp: #4183D7;
$color-itsupp-dark: #166AF4;
$color-itsuppdark: #286ABD;
$color-itsupp-accent: #2A6EC6;
$color-marketing: #2ECC71;
$color-marketing-pale: #26AB5F;
$color-marketing-accent: #08b47c;
$color-marketing-dark: #009B69;
$color-telecoms: #D64541;
$color-telecomsdark: #BC2C28;
$color-design: #926FB1;
$color-design-dark: #7E57A0;
$color-security: #F62459;
$color-securitydark: #DE093F;
$color-training: #CE4125;
$color-trainingdark: #A3331D;
$color-graybutton: #999AA2;
$color-graybutton-hover: #84858F;
$color-bluebutton: #4183D7;
$color-bluebutton-hover: #2A6EC6;
$color-contact: #999AA2;
$color-contact-hover: #84858F;
