
$color-base: #333645;
$color-accent: #272936;
$color-dark: #121318;
$color-white: #fff;
$color-software: #67809F;
$color-itsupp: #4183D7;
$color-marketing: #2ECC71;
$color-telecoms: #D64541;
$color-design: #926FB1;
$color-security: #F62459;
$color-training: #CE4125;
$color-design-dark: #7E57A0;