
$color-white: #fff;
$color-lightgray: #ccc;
$color-gray: #a3a8ac;
$color-midgray: #75788a;
$color-darkgray: #666;
$color-gray-accent: #7E808A;
$color-base: #333645;
$color-dark: #121318;
$color-accent: #272936;
$color-software: #67809F;
$color-softwaredark: #526781;
$color-lightblue: #5bc0de;
$color-itsupp: #4183D7;
$color-itsupp-dark: #166AF4;
$color-marketing: #2ECC71;
$color-marketing-accent: #08b47c;
$color-marketing-dark: #009B69;
$color-telecoms: #D64541;
$color-design: #926FB1;
$color-design-dark: #7E57A0;
$color-security: #F62459;
$color-training: #CE4125;
